.carousel{
    background-image: url("../img/xevent_bg.png.pagespeed.ic.hDegBD_q05.webp");
    background-size: cover;
    height: 850px;
    background-position: center center;
    margin-top: 180px;
}

.slide{
    .carousel-inner{
        .carousel-item{
            h6{
                color: #fe5c24 !important;
                opacity: 0.7;
            }
            h2{
                color: #0c3e72;
            }
            p{
                opacity: 0.7;
                font-size: 17px;
                span{
                    color: #0c3e72;
                    i{
                        color: gold;
                    }
                }
            }
        }
    }
}

